ipython == 7.22.0
librosa == 0.8.0
matplotlib == 3.3.4
mtcnn == 0.1.0
numpy == 1.19.5
opencv_python == 4.5.1.48
pandas == 1.2.2
pigar == 0.10.0
Pillow == 8.1.0
scikit_learn == 0.24.1
scipy == 1.6.1
seaborn == 0.11.1